
@{
    ViewBag.Title = "ClassTeacher";
}

<h2>ClassTeacher</h2>
<h1>name : @ViewBag.TeacherClass.name</h1>
<h1>lname : @ViewBag.TeacherClass.lname</h1>
<h1>year : @ViewBag.TeacherClass.year</h1>
<h1>monney : @ViewBag.TeacherClass.monney $</h1>

@Html.ActionLink("link to page","index","Pupil")
